apiVersion: v1
kind: Service
metadata:
  name: party-pic-server
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "chart.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP