# =============================================================================
# TERRAFORM VARIABLES EXAMPLE
# =============================================================================
# WICHTIG: terraform.tfvars enthält sensible Daten und ist in .gitignore!
# =============================================================================


# SMTP Credentials für Alertmanager
alertmanager_smtp_username = "test.mail.partypic@gmail.com"
alertmanager_smtp_password = "abcd abcd abcd abcd"

# RKE2 Token 
rke2_token = "das-ist-ein-Testpasswort"

# Grafana Admin Passwort
grafana_admin_password = "das-ist-ein-anderes-Testpasswort"

# Party-Pic Server Datenbank Zugangsdaten
partypic_db_password    = "partypic_password"
partypic_db_name        = "partypic_dbname"
partypic_db_user        = "partypic_dbuser"
partypic_s3_endpoint    = "https://s3.us-east-1.amazonaws.com"
partypic_s3_bucket_name = "partypic_dev-foto-bucket"
partypic_s3_region      = "us-east-1"
partypic_jwt_secret     = "ein-sehr-starkes-jwt-secret"
