# Replicas configuration
replicaCount: 1
# Image configuration
image:
  repository: ghcr.io/benediktnau/partypic-server
  pullPolicy: Always
  tag: "sha-3c74ddb43e94de88121f62a447a7ff389f7b6197"
# Resource Limits (required for HPA)
resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
# Horizontal Pod Autoscaler
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80
# App configuration (Non-Sensitive)
nodeEnv: "production"
port: "3000"
s3ForcePathStyle: "false"
# Secret Name (So you can swap the secret source if needed)
secretName: "party-pic-secrets"
ingress:
  enabled: true
  host: api.52.7.172.243.nip.io
  certManager: false
  tls: false
