# Replicas configuration
replicaCount: 1
# Image configuration
image:
  repository: ghcr.io/benediktnau/partypic-server
  pullPolicy: Always
  tag: "sha-d7304d3105f61abd9c8992926646081a09e6695f"
# App configuration (Non-Sensitive)
nodeEnv: "production"
port: "3000"
s3ForcePathStyle: "false"
# Secret Name (So you can swap the secret source if needed)
secretName: "party-pic-secrets"
ingress:
  enabled: true
  host: "api.ip.nip.io"
  certManager: false
  tls: false
