# Replicas configuration
replicaCount: 1

# Image configuration
image:
  repository: schwablobbs/party-pic-server
  pullPolicy: Always
  tag: "latest"

# App configuration (Non-Sensitive)
nodeEnv: "production"
port: "3000"
s3ForcePathStyle: "false"

# Secret Name (So you can swap the secret source if needed)
secretName: "party-pic-secrets"

ingress:
  enabled: true
  host: "api.ip.nip.io"
  certManager: false
  tls: false