# Replicas configuration
replicaCount: 1
# Image configuration
image:
  repository: ghcr.io/benediktnau/partypic-server
  pullPolicy: Always
  tag: "sha-8a3045c6fb78a166c1f4b03ed103b310a28e8162"
# App configuration (Non-Sensitive)
nodeEnv: "production"
port: "3000"
s3ForcePathStyle: "false"
# Secret Name (So you can swap the secret source if needed)
secretName: "party-pic-secrets"
ingress:
  enabled: true
  host: "api.ip.nip.io"
  certManager: false
  tls: false
