# Replicas configuration
replicaCount: 1
# Image configuration
image:
  repository: ghcr.io/benediktnau/partypic-server
  pullPolicy: Always
  tag: "sha-7c9b9590ca2783839ddbf640cb7a51b64611a19f"
# App configuration (Non-Sensitive)
nodeEnv: "production"
port: "3000"
s3ForcePathStyle: "false"
# Secret Name (So you can swap the secret source if needed)
secretName: "party-pic-secrets"
ingress:
  enabled: true
  host: "api.ip.nip.io"
  certManager: false
  tls: false
