# Replicas configuration
replicaCount: 1
# Image configuration
image:
  repository: ghcr.io/benediktnau/partypic-server
  pullPolicy: Always
  tag: "sha-f2e00ce41d473acd4900b9ea080511e070e6f13d"
# App configuration (Non-Sensitive)
nodeEnv: "production"
port: "3000"
s3ForcePathStyle: "false"
# Secret Name (So you can swap the secret source if needed)
secretName: "party-pic-secrets"
ingress:
  enabled: true
  host: api.34.235.233.52.nip.io
  certManager: false
  tls: false
