# Replicas configuration
replicaCount: 2

# Image configuration
image:
  repository: ghcr.io/benediktnau/partypic-client
  pullPolicy: Always
  tag: "sha-c66415722ec2e0596f1a48819adc5af36b1dd83d"

# Resource Limits (required for HPA)
resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"

# Horizontal Pod Autoscaler
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80

# App configuration (Non-Sensitive)
nodeEnv: "production"
port: "80"
s3ForcePathStyle: "false"
apiadresse: "http://api.ip.nip.io"

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: app.52.7.172.243.nip.io
      paths:
        - path: /
          pathType: Prefix
          serviceName: party-pic-client
          servicePort: 80
        # 2. Die Umleitungen zum Backend (API)
        - path: /auth
          pathType: Prefix
          serviceName: party-pic-server
          servicePort: 3000
        - path: /sessions
          pathType: Prefix
          serviceName: party-pic-server
          servicePort: 3000
        - path: /users
          pathType: Prefix
          serviceName: party-pic-server
          servicePort: 3000
        - path: /pictures
          pathType: Prefix
          serviceName: party-pic-server
          servicePort: 3000
        - path: /metrics
          pathType: Prefix
          serviceName: party-pic-server
          servicePort: 3000
