# Replicas configuration
replicaCount: 1
# Image configuration
image:
  repository: ghcr.io/benediktnau/partypic-client
  pullPolicy: Always
  tag: "sha-4ad0d7bf111df076624667e2947d1eab400ad8fd"
# App configuration (Non-Sensitive)
nodeEnv: "production"
port: "80"
s3ForcePathStyle: "false"
apiadresse: "http://api.ip.nip.io"
ingress:
  enabled: true
  host: "app.ip.nip.io"
  certManager: false
  tls: false
