# Replicas configuration
replicaCount: 1
# Image configuration
image:
  repository: ghcr.io/benediktnau/partypic-client
  pullPolicy: Always
  tag: "sha-4dcbf9866e7b5b00c739be1b676058169749bcf3"
# App configuration (Non-Sensitive)
nodeEnv: "production"
port: "80"
s3ForcePathStyle: "false"
apiadresse: "http://api.ip.nip.io"
service:
  type: ClusterIP
  port: 80
  targetPort: 80
ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: app.34.235.233.52.nip.io
      paths:
        - path: /
          pathType: Prefix
          serviceName: party-pic-client
          servicePort: 80
