# Replicas configuration
replicaCount: 1
# Image configuration
image:
  repository: ghcr.io/benediktnau/partypic-client
  pullPolicy: Always
  tag: "sha-102018183bdb297d49b3bd1cb984cb4d9a7e2195"
# App configuration (Non-Sensitive)
nodeEnv: "production"
port: "80"
s3ForcePathStyle: "false"
apiadresse: "http://api.ip.nip.io"
service:
  type: ClusterIP
  port: 80
  targetPort: 80
ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: app.34.235.233.52.nip.io
      paths:
        - path: /
          pathType: Prefix
          serviceName: party-pic-client
          servicePort: 80
        # 2. Die Umleitungen zum Backend (API)
        - path: /auth
          pathType: Prefix
          serviceName: party-pic-server
          servicePort: 3000
        - path: /sessions
          pathType: Prefix
          serviceName: party-pic-server
          servicePort: 3000
        - path: /users
          pathType: Prefix
          serviceName: party-pic-server
          servicePort: 3000
        - path: /pictures
          pathType: Prefix
          serviceName: party-pic-server
          servicePort: 3000
        - path: /metrics
          pathType: Prefix
          serviceName: party-pic-server
          servicePort: 3000
